.root{
    -fx-font-family: 'Roboto';
}

/* Side and Top Bar Styles Start ------------------------------------------------ */

.left_Vbox{
    -fx-background-color: #1e3742;
}

.hbox{
    -fx-background-color: #1e3742;
}

.hbox-empty{
    -fx-background-color: #1e3742;
    -fx-pref-height: 250;
}

.hbox .label{
    -fx-pref-height: 35;
    -fx-font-size: 13;
    -fx-font-weight: 600;
}

.hbox .label:hover{
    -fx-text-fill: white;
}

.hbox:hover{
    -fx-background-color: #162830;
    -fx-border-color:  transparent transparent transparent #2a9d8f;
    -fx-border-width: 0 0 0 4;
    -fx-padding: 0 0 0 16;
    -fx-text-fill: #ffffff;
}

.subMenu{
    -fx-background-color: #264552;
}

.subMenuLabel{
    -fx-font-size: 12;
}


.subMenuLabel:hover{
    -fx-text-fill: #ffffff;
    -fx-translate-x: 5;
}

.header-element:hover{
    -fx-background-color:  #1c8073;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #cbd5e1;
    -fx-background-radius: 4px;
    -fx-background-insets: 1px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #94a3b8;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

/* Side and Top Bar Styles Start ------------------------------------------------ */


.add_sell-btn{
    -fx-font-family: 'Yu Gothic UI Semibold';
    -fx-font-size: 10;
    -fx-background-color:  #00b4d8;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
}

.add_sell-btn:hover{
    -fx-background-color: #02a4c5;
}

.sell_list-btn{
    -fx-font-family: 'Yu Gothic UI Semibold';
    -fx-font-size: 10;
    -fx-background-color:  #2a9d8f;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
}

.sell_list-btn:hover{
    -fx-background-color: #268a7e;
}

.recent_table{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-font-family: 'Roboto';
    -font-size: 14;
}

.table-view .column-header{
    -fx-background-color:  #d2d6df;
    -fx-border-color: #d2d6df;
    -fx-font-size: 13;
    -fx-font-family: 'Roboto Medium';
}

.table-cell {
    -fx-padding: 8;
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #888;
    -fx-background-radius: 5;
}


.tab-active{
    -fx-border-color:  #0295b3 #f6f6f6 transparent #f6f6f6;
    -fx-border-width: 3 1 1 1;
}
.tab-default{
    -fx-border-color: transparent transparent #f6f6f6 transparent;
}
.tab-default:hover{
    -fx-text-fill: #888;
}

.dashboard-box{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1);
}

.light-btn .label:hover , .light-btn .fontawesome:hover{
    -fx-opacity: 0.7;
}
