.root{
    -fx-font-family: 'Roboto';
}

/* Side and Top Bar Styles Start ------------------------------------------------ */

.left_Vbox{
    -fx-background-color: #1e3742;
}

.hbox{
    -fx-background-color: #1e3742;
}

.hbox-empty{
    -fx-background-color: #1e3742;
    -fx-pref-height: 250;
}

.hbox .label{
    -fx-pref-height: 35;
    -fx-font-size: 13;
    -fx-font-weight: 600;
}

.hbox .label:hover{
    -fx-text-fill: white;
}

.hbox:hover{
    -fx-background-color: #162830;
    -fx-border-color:  transparent transparent transparent #2a9d8f;
    -fx-border-width: 0 0 0 4;
    -fx-padding: 0 0 0 16;
    -fx-text-fill: #ffffff;
}

.subMenu{
    -fx-background-color: #264552;
}

.subMenuLabel{
    -fx-font-size: 12;
}


.subMenuLabel:hover{
    -fx-text-fill: #ffffff;
    -fx-translate-x: 5;
}

.header-element:hover{
    -fx-background-color:  #1c8073;
    -fx-font-weight: bold;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #cbd5e1;
    -fx-background-radius: 4px;
    -fx-background-insets: 1px;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #94a3b8;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.profile-photo{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #b7f4ec;
    -fx-border-width: 2;
}

/* Side and Top Bar Styles Start ------------------------------------------------ */


/* Report Bar Top */

.report-btn{
    -fx-background-color:  #2a9d8f;
}

.report-btn:hover {
    -fx-background-color: #268a7e;
}



/*User content Styles Starts   ---------------------------------------------------------*/
.user-box{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1);
}

/* Root */
.date-picker {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #dedede;
}

/* Text field */
.date-picker .text-field {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;

}

.input-field{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: #dedede;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, #e6e6e6, 12, 0, 5, 5);
}


.sign-up-btn{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.sign-up-btn:hover{
    -fx-opacity: 1;
}



/*User content Styles Ends   ---------------------------------------------------------*/





/* User Table Styles  ------------------------------------------------------------------------ */
.table-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-font-family: 'Roboto';
    -font-size: 14;
}

.table-view .column-header{
    -fx-background-color:  #d2d6df;
    -fx-border-color: #d2d6df;
    -fx-font-size: 13;
    -fx-font-family: 'Roboto Medium';
}

.table-cell {
    -fx-padding: 8;
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #888;
    -fx-background-radius: 5;
}

.combo-box-popup .list-cell{
    -fx-padding: 5 10 5 10;
}

.combo-box-popup .list-cell:selected{
    -fx-background-color: #dedede;
    -fx-text-fill: black;
}





